<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Manager</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="#Contact">Contact</a>
        <a href="/about">About</a>
      </div> 
    <br>
    <div class="about">
        <h3>Manage your project with each task update.</h3>
    </div>
    

</body></html>
